.home {
	.page {
		display: flex;
		min-height: 100vh;	

		.background {
			width: 50%;
			position: sticky;
			top: 0;
			height: 100vh;
			padding: 1em;

			.layer__archis {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				
				.layer__archis__top {

				}

				.layer__archis__bottom {

				}

			}


		}

		.home__layers {
			width: 50%;

			.layer {
				padding: 1.5em;
 				// @include fluid-spacing($min_width, $max_width, $mod_1*$min_space, $mod_2*$mod_2*$max_space);
			}
		}
	}
}

.home .home__layers {

	button {
		width: 100%;
	}

	.layer {
		.layer__top {
			margin-bottom: 4.5em;
		}

		.layer__content {
			margin-bottom: 5.5em;
		}

		.layer__bottom {
			margin-bottom: 3em;
		}
	}
}
