html {
	background-color: $color--black;
}

body {
	background-color: $color--black;
	color: $color--white;
    overflow-x: hidden;
}


// Global page container (Volume, Projects, Events...)
.page {
	min-height: 100vh;	

	.background {
		width: 100vw;
		position: sticky;
		top: 0;
		height: 100vh;
		padding: 1em;
		z-index: 0;
		cursor: default;

		&:hover {
			.layer__nav {
				opacity: 1;
			}
		}
	}

	.layers {
	    width: calc(100vw - #{$space--xs * 3});
	    z-index: 9;
	    margin-left: $space--xs * 3;
	    position: relative;
	    margin-top: calc(-100vh + #{$space--xs});
	    transition: all 300ms;

	    &.layers--move--hint {
	    	margin-left: 50%;
			filter: brightness(0.25);

			img {
				@include image--nb;
			}
	    }

		&.layers--move--aside {
			margin-left: 50%;
			cursor: pointer;

			img {
				@include image--nb;
			}

			&.layers--move--hintback {
				margin-left: calc(60% - 20%);
			}
		}

		.layer {
			padding: $space--m;
		}
	}
}




.layer__top {
	// border-top: $borders--thin;
	// padding-top: $space--xs;
	// padding-bottom: $space--xs;



	&.layer__top--big {

	}

	&.layer__top--small {

		h2 {
			transition: all 300ms;
		    transform-origin: top left;
			@include p;
		    transform-origin: top left;
		}

		&:hover h2 {
			transform: translateX(30px);
		    transform-origin: top left;
		}
	}	
}



.nav__bar {
	border-top: $borders--thin;
	border-bottom: $borders--thin;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.nav__actions {
		display: flex
	}
}

